* {
	padding: 0;
	margin: 0;
}

body {
	background-color: rgb(241,171,44);
}

#menu {
	background-color: #dedbd5;
	width: 80%;
	height: 100%;
	position: fixed;
	top: 0;
	left: -1500px;
	box-shadow: 2px 0px 10px black;
	float: left;
	z-index: 10;
	transition: all 350ms;
}

#menu span {
	margin: 10px 10px 0 0px;
	font-size: 2em;
	color: black;
	float: right;
}

#menu p {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5em;
	color: black;
	margin-left: 10px;
}

#menu1 {
	background-image: url("../img/menu1.jpg");
	height: 100px;
	width: 93%;
	margin: 0px 10px 10px 10px;
	background-size: cover;
	background-position: center;
	border-radius: 5px;
}

#menu2 {
	background-image: url("../img/homehero.jpg");
	height: 100px;
	width: 93%;
	margin: 0px 10px 10px 10px;
	background-size: cover;
	border-radius: 5px;
}

#menu3 {
	background-image: url("../img/homehero.jpg");
	height: 100px;
	width: 93%;
	margin: 0px 10px 10px 10px;
	background-size: cover;
	border-radius: 5px;
}

#menu4 {
	background-image: url("../img/homehero.jpg");
	height: 100px;
	width: 93%;
	margin: 0px 10px 10px 10px;
	background-size: cover;
	border-radius: 5px;
}

#thedarkness {
	background-color: black;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	opacity: .65;
	visibility: hidden;
	transition: all 1700ms;
}

header {
	background-color: rgb(241,171,44);
	height: 50px;
	width: 100%;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0px 5px 10px black;
}

#hero {
	width: 100%;
	height: 300px;
	background-image: url("../img/homehero.jpg");
	background-size: cover;
}

header p {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5em;
	color: white;
	float: right;
	margin-right: 25px;
	text-shadow: 0px 0px 5px white;
}

header span {
	margin: 10px 0 0 10px;
	font-size: 2em;
	color: #946800;
}

h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 2em;
}

h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 1.75em;
	color: white;
	text-shadow: 0px 0px 15px black;
	line-height: 4em;
}

.btn-lg {
	height: 75px;
	line-height: 3em;
	background-color: #946800;
	border: none;
	margin-bottom: 10px;
	font-family: "Crimson Text", serif;
	font-weight: 700;
	font-size: 1.5em;
}